a.glyphicon-big{
	font-size: 120%;
	padding-top: 17px;
	padding-bottom: 10px;
}
a.glyphicon-big .last{
	padding-right: 15px;
}
.buttons{
	font-size: 18px;
	border-bottom: 1px solid rgb(210,210,210);
}
.buttons a{
	text-align: center;
	display: block;
	width: auto;
	padding: 10px 0px;
	color: rgb(60,60,60);
}
.buttons a:hover{
	background:rgb(230,230,230);
}
.nav-btn button{
	margin-top: 4px;
	margin-right: 4px;
}
.question{
	margin-bottom: 0px;
	padding: 12px 0px;
	border-bottom: 1px solid rgb(245,245,245);
}

.choices span{
	position: absolute;
	top: 0;
	right: 20px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0px 5px;
	color: #FFF;
	text-align: center;
	background: rgb(238,238,238);
	border: 1px solid rgb(221,221,221);
}
 
.choices input{
	position: absolute;
	right: 20px;
	margin: 0 !important;
	width: 31px;
	height: 31px;
	/*hide the radio button*/
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
}
 
.choices input[type="radio"] ~ span{ /*the span element that immediately follow the radio button */
	visibility: hidden; /*temporarily hide the "YES" label*/
	background: #6EB558;
}

.choices input[type="radio"] + label{
	padding-top: 31px;
	font-size: 80%;
	text-align: center;
	width: 100%;
}
 
.choices input[type="radio"]:checked ~ span{
	visibility: visible; /*show the "YES" label only if the radio button is checked*/
}

.comments blockquote p{
	font-size: 100%;
}

.label-fixed-width-75{
	display: inline-block;
	width: 65px !important;
	padding: 3px 0px;
	margin-right:10px;
}

html,body,.container,.row,.sidebar,.mainbar,.content-pad {height:100%;}
body,static-pad {padding-top:45px;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {line-height: 28px;}
.sidebar {width: 65px;background: rgb(238,238,238); border-right: 1px solid rgb(221,221,221); overflow: hidden;}
.container-fluid{margin: 0px; width:auto;}
.side-padding {}
//.content {padding-left:65px} /*/fix the padding-left for responsiveness;*/
.no-margin {margin: 0px;}
.btn-navigation{padding:20px 0px;}


